$base-color: #000;

@mixin flex-layout($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

.main-container {
    height: 100%;
    background-color: rgba($base-color, 0.8);
}


.header {
    font-size: 2rem;
    padding: 1rem;
    color: white;
    text-align: center;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    position: relative;


    .filter {
        width: 15%;
        padding: 1rem;
        position: absolute;
        top: 0;
        right: 1rem;
    }
}

.content-container {
    padding: 2rem 0;

    .content {
        @include flex-layout(center, center);
        flex-wrap: wrap;
        gap: 1.8rem;

        .book {
            .cover-image, .missing-img {
                width: 325px;
                height: 500px;
            }
        }
    
    }



}



